.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:38px;
    font-weight: bold;
    }
.container {
        background-color: white;
        height: auto;
        width: 1380px;
        margin: 0 auto;
        font-family: arial,sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48.5px;
    font-weight: bolder;
}
.menu ul li {
    list-style: none;
    margin: 0px 16px;
}
a {
    font-weight: bold;
    text-decoration: none;
    color :#111928;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: medium;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:38px;
    font-weight: bold;
}
.one_button {
    width: 400px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #111928;
    background-color: #111928;
 }
.cart_button {
    width: 110px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #111928;
    background-color: #111928;
    position: absolute;
}
.cart_button h3 {
    color: #FFFFFF;
    font-weight: 600;
    size: 5px;
    height: -10px;
    text-align: center;
    line-height: 16.94px;
 }
 .one_button h3 {
    color: #FFFFFF;
    font-weight: 600;
    size: 14px;
    text-align: center;
    line-height: 16.94px;
 }
 .container {
    background-color: white;
    height: auto;
    width: 1280px;
    margin: 0 auto;
    font-family: arial,sans-serif;
}
.menu ul {
text-align: center;
display: flex;
list-style: none;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 48.5px;
font-weight: bolder;
}
.menu ul li {
list-style: none;
margin: 0px 16px;
}
a {
font-weight: bold;
text-decoration: none;
color :#111928;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-size: medium;
}

.banner img {
margin-top: 48px;
text-align: center;
}
.footer ul {
margin-left: 790px;
display: flex;
list-style: none;
}
.footer ul li {
list-style: none;
margin-left: 40px;
}
.icon_header button{
width: 84px;
height: 42px;
border-radius: 5px;
border: 1px solid #F54748;
} 
.sign_in{
background-color: white;
margin-left: 20px;
color:#F54748 ;
}

.sign_out{
background-color: #F54748;
margin-left: 20px;
color: white;
}
.icon_header{
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: 5cm;
align-items: center;
text-align: center;
display: flex;
justify-content: space-between;
align-items: center;
}
.food_row2 {
    display: flex;
    margin-right: 100px;
    margin-top: 1cm ;
   }
.food_row img {
    width: 160% ;
    height: 160%;
    margin-left: 40px;
}

.one {
    margin-left: 40px;
}
.food_row {
    display: flex;
}
.quantity {
    display: block;
}
 img {
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}
.one h1 {
    font-weight: 900;
    size : 40px
}
.related-text {
    width: max-content;
}
h3 {
    color: #F54748;
}
span {
    width: 98px;
    height: 22px;
}
.related-text p {
    font-weight: 700;
    font-size: 24px;
}