.two a {
    display: flex;
    margin-top: 3cm;
}
.two h4 {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: 17px;
    margin-right: -1.6cm;
    width: 100px;
}
.two img {
    margin-left: -3px;
    margin-top: 20px;
    border-radius: 4px;
    border: 3.5px solid;
    height: 100px;
    width: 100px;
    margin-top: -117px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.price {
    margin-right: 0cm;
    width: 200px;
}
.two {
    margin-left: 0.3cm;
     text-align: center;
     width: 610px; height: 100px;
     background-color: aliceblue;
     border: 3px rgb(0, 0, 0) solid;
     margin-top: 0.5cm;
     transition: 0.3s;
     border-radius: 4px;
     border-style: dashed;
}
.two:hover{
    transform: scale(1.02);
}
.food_row2 {
    margin-left: 0.3cm;
    background-color:rgb(146, 40, 40); 
    height: auto;
    width:644px ;
    margin-top: 0px;
    overflow-y: scroll;
    height: 400px;
    border-right: 0;
    border-left: 0;
    position: absolute;
}
.food_row2-prime {
    background-color:rgb(221, 64, 64) ;
    height: 410px;
    width: 655.5px;
    margin-left: 20.57cm;
}
.two p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    width: 400px;
    margin-left: 2cm;
}
.food_row {
    background-color:rgb(229, 144, 144);
    width: 636px;
    margin-left: 20.57cm;
    height: 320px;
    border: 10px rgb(221, 64, 64) solid;
    border-right: 10px rgb(221, 64, 64) solid;
    border-top: 1px;
    border-bottom: 5px rgb(221, 64, 64) solid;
}
.product-info {
    display: flex;
    margin-top: -2.5cm;
    width: 380px;
}
.quantity {
    display: flex ;
    width: 400px;
    margin-top: 1cm;border-radius: 4px;
}
.cart_button {
    margin-left: 6cm;
    margin-top: -1.24cm;
    
}
.cart_button button {
    margin-left: 1cm;
    height:47px ;
    width: 130px;
    border: 2px red solid;
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
}
.one {
    width: 600px;
    margin-left: 35px;
    margin-top: 20px;
    height: 274px;
}
.one img {
    width: 1000px;
    height: 1000px;
}
.food_row img {
    width: 50.5%;
    height: 717px;
    position: absolute;
    margin-top: -7.25cm;
    margin-left: -20.83cm;
    border-top: 9px rgb(221, 64, 64) solid ;
    border-bottom: 9px rgb(221, 64, 64) solid;;
}
.food_row-prime {
    margin-left: -25px;
    margin-top: 0px;
    height: 734.5px;
    width: 1430px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.scrollbox {
    overflow: scroll;
    padding-right: 10px;
}
::-webkit-scrollbar {
    width: 9px;
    background-color: rgb(221, 64, 64);
    
}
::-webkit-scrollbar-thumb{
    color: blue;
    border-radius: 0px;
    background-color: rgb(255, 249, 249);border-radius: 10px;
}
.one h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 0.1cm;
}
.sub-one {
 padding-top: 0.2cm;
 width: 576px;
 margin-left: 0.1cm;
}
.sub-one p {
    margin-left: 0.1cm;
    font-size: 20px;
    width: 565px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cart_button img {
    width: 44px;
    height: 44px;
    border :0;
    position: absolute;
    margin-left: 0.5cm;
    margin-top: 0cm;
    border-radius: 4px;
    border: 2px red solid;
}